/source/vendor/
.idea

/app/Controllers/*
!/app/Controllers/ControllerAuth.php
!/app/Controllers/ControllerUser.php

/app/Models/*
!/app/Models/Auth.php
!/app/Models/User.php

/shared/images/*
!/shared/images/.gitkeep

/storage/sessions/*
!/storage/sessions/.gitkeep

/storage/uploads/*
!/storage/uploads/.gitkeep

/source/Core/System.php
/source/Core/Validations.php
/source/Support/Speedio.php

composer.phar

.env

app2.php
